.modalNoBS .modal-custom{
    height: 80vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 0;
    background: lightgrey;
    overflow-y: scroll !important;
    width: 100vw;
}

.nomprenom, .specialite{
    transform: skewY(-5deg);
    width: 100%;
    margin: 0;
    top: 3.5vh;
}

.nomprenom{
    background-color: rgb(32, 13, 75);
    color: #57a3e4;
   padding: 2vh;

}

.specialite{
    background: #ffffff75;
    padding-bottom: 6px;
    padding-top: 6px;
}

.commentaire {
    min-height: 30vh;
    border-left: 3px solid #57a3e4;
    text-align: justify !important;
    text-align-last: center !important;
    padding-left: 2vh;
    font-size: 1em;
    line-height: 1.2em;
}

/***************************************************
                COORDONNÉES
****************************************************/

.coord {
    text-align: justify;
    text-align-last: center;
    background-color: rgb(32, 13, 75);
    padding: 2vh;
    border-radius: 2vh;
    color: #c7c5c5;
    margin: 0;
}

.titrecoordonnees {
    font-size: 1rem;
    letter-spacing: 5px;
    padding-bottom: 1vh;
    border-bottom: 3px double white;
}

/***************************************************
               COMPÉTENCES
****************************************************/

.compet {
    text-align: justify;
    text-align-last: center;
}

.titrecompetences {
    font-size: 1rem;
    letter-spacing: 2px;
}

/***************************************************
                LIENS BOTTOM
****************************************************/

.fondlien {

    color: #272626;
    padding: 1vh;
    margin: 0;

}

.mail {
    word-wrap: break-word; 
    padding: 0 1.5vw 0 1.5vw;
}


.BOXLIEN {
    text-align: center;
    background: #57a3e4;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

span.iconelien {
    font-size: 2.5em;
    opacity:1;
    margin-top: 3vh;
    padding-top: 2vh;
}

.BOXLIEN:hover span.iconelien {
    opacity:0;
}

 span.textlien {
    display:none;
}

.BOXLIEN:hover span.textlien{
    display: inherit;
   position: relative;
   margin-top: -3.8vh;
   text-align: center;
   font-size: 0.75em;
}

/* .overflow-custom {
    overflow-y: scroll;
} */

.strong-caca {
    background: red;
    width: 30px;
    height: 30px;
}