.imgback {
    background: lightgray;
    overflow-y: scroll;
    width: 100vw;
}

.modalNoBS .modal-custom{
    background-color: #bfbfbf;
    height: 80vh;
    margin-top: 50px;
    padding-top: 10px;
}

.nomprenom, .specialite{
    transform: skewY(-12deg);
    width: 100%;
    margin-right: 10px;
}

.nomprenom{
    background-color: rgb(32, 13, 75);
    color: #57a3e4;
    margin-top: 25px;
    padding-bottom: 6px;
}

.specialite{
    background: #ffffff75;
    padding-bottom: 6px;
    padding-top: 6px;
}

.commentaire {
    min-height: 30vh;
    border-left: 3px solid #57a3e4;
    text-align: justify !important;
    text-align-last: center !important;
    padding-left: 2vh;
}

/***************************************************
                COORDONNÉES
****************************************************/

.coord {
    text-align: justify;
    text-align-last: center;
    background-color: rgb(32, 13, 75);
    padding: 2vh;
    border-radius: 2vh;
    color: #c7c5c5;
}

.titrecoordonnees {
    font-size: 1rem;
    letter-spacing: 5px;
    padding-bottom: 1vh;
    border-bottom: 3px double white;
}

/***************************************************
               COMPÉTENCES
****************************************************/

.compet {
    text-align: justify;
    text-align-last: center;
}

.titrecompetences {
    font-size: 1rem;
    letter-spacing: 2px;
}

/***************************************************
                LIENS BOTTOM
****************************************************/

.fondlien {
    background-color: #bfbfbf;
    color: #272626;
    padding: 1vh;
}

.textcenter {
    text-align: center;
}

.iconelien {
    font-size: 1.3vw;
}

.BOXLIEN {
    text-align: center;
    padding: 2vh;
}

.BOXLIEN:hover {
    background: #57a3e4;
    transition-duration: 1s;
}

.BOXLIEN i:hover{
    display: none !important;
}